.navbar {     
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: 1.875rem 0;    
    transition: $transition-navbar;
  
    // Because flex properties aren't inherited, we need to redeclare these first
    // few properties so that content nested within behave properly.
    // The `flex-wrap` property is inherited to simplify the expanded navbars
    %container-flex-properties {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
    }
  
    > .container,
    > .container-fluid {
      @extend %container-flex-properties;
    }
  
    @each $breakpoint, $container-max-width in $container-max-widths {
      > .container#{breakpoint-infix($breakpoint, $container-max-widths)} {
        @extend %container-flex-properties;
      }
    }
}

.navbar_shrink {
  padding-top: .8rem;
  padding-bottom: .8rem;

  .logo {
    width: 6.25rem;    
  }
}

.navbar_shadow {
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.36); 
}

.navbar_dark {
  background-color: $dark;   
}
  
.navbar-nav {
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;  
    line-height: 1.15;  

    .nav-item {
      padding: .625rem 0;
    }

    .nav-link {
      color: $white;
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.25rem;
      letter-spacing: 0.05em;
      transition: $nav-link-transition;

      &:hover {
        color: $accent;
      }
    }
  
    .show > .nav-link,
    .nav-link.active {
      color: $accent;
    }
}
  
// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.
  
// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    // For always expanded or extra full navbars, ensure content aligns itself
    // properly vertically. Can be easily overridden with flex utilities.
    align-items: center;
}
  
// scss-docs-start navbar-expand-loop
// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);
  
      // stylelint-disable-next-line scss/selector-no-union-class-name
      &#{$infix} {
        @include media-breakpoint-up($next) {
          flex-wrap: nowrap;
          justify-content: flex-start;

 
          .navbar-nav {
            flex-direction: row;
            margin-top: 0;
            height: auto;
        
            .nav-link {
              font-size: .875rem;
            }
  
            .nav-item {              
              padding-left: 2.5rem;
            }
          }
  
          .navbar-collapse {
            display: flex !important; // stylelint-disable-line declaration-no-important
            flex-basis: auto;
          }
  
          .navbar-toggler {
            display: none;
          }
        }
      }
    }
}

@include media-breakpoint-up(md) {
  .navbar-nav {
    height: 80vh;
  }
}



  

  

  