//Grid
$grid-gutter-width:          1.875rem;

//Colors
$accent:                     #D4C17F;
$black:                      #000;
$dark:                       #242B33;
$gray:                       #BEBEBE;
$light:                      #E7E7E7;
$white:                      #fff;

//transition
$transition-collapse:         height .35s ease;
$transition-collapse-width:   width .35s ease;
$transition-navbar:           box-shadow, padding .25s ease;
$transition-navbar-toggler:   all .35s ease;

//spinner
$spinner-border-width:    .5em;

